<module>
	<rawname>weather</rawname>
	<name>Weather</name>
	<version>1.0.0</version>
	<type>setup</type>
	<category>Third Party Addon</category>
	<description>Provides Dial Weather Report</description>
	<attention>
	This Module requires flite 1.0.3 to be installed.  yum -y install flite .
	</attention>
	<location>release/weather-1.0.0.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-Features</info>
	<md5sum>cf4eb72d0f25f1118c38e6b9e5e05cc1</md5sum>
</module>
